# Executable project
solver
generator

# Generated vector graphics
*.svg

# Files with calculated values
*.csv

# Data for anaysis
*.txt

# Test cases
input/tests/*

# Visual Studio Code files
.vscode/